<%= simple_form_for project do |form| %>
    <%= form.input :titulo, class: 'form-control' %>
    <%= form.input :descricao, input_html: {rows: 10} %>
    <%= form.input :duracao %>
    
    <br>
                
    <p>        
        <%= form.button :submit , class: 'btn btn-primary' %>   
        <%= link_to 'Voltar', root_path, class: 'btn btn-secundary' %>
    </p>      
    
<% end %>