<div class="container">  
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic"><%= @project.titulo %></h1>
        <p class="lead my-3"><%= @project.descricao %></p>
        <p class="lead my-3"><%= @project.duracao %></p>
        <p class="lead mb-0"><%= link_to 'Voltar', user_path(current_user.id)%></p>
        <p class="lead mb-0"><%= link_to 'Edit', edit_project_path(@project) %></p>
        <p class="lead mb-0"><%= link_to 'Destroy', project_path(@project), 
            data: { "turbo_method": :delete, turbo_confirm: "Are you sure?" } %></p>   
    </div>  
</div>