<h1><%= @project.titulo %></h1>

<p><%= @project.descricao %></p>
<p><%= @project.duracao %></p>

<ul>
<li><%= link_to 'Edit', edit_project_path(@project) %></li>
<li><%= link_to 'Destroy', project_path(@project), 
    data: { "turbo_method": :delete, turbo_confirm: "Are you sure?" } %></li>
</ul>
<li><%= link_to 'Back', user_path(current_user.id)%></ul>